<div class="main-banner" id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <div class="thumb">
            <div class="inner-content">
              <h4>Welcome to the <em>IMMERSHOP</em> Experience</h4>
              <span>Immersive AR, at your service</span>
              <div class="main-border-button">
                <a href="#">Shop Now!</a>
              </div>
            </div>
            <%= image_tag 'banner1.jpg' %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Women</h4>
                    <span>Best Clothes For Women</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Women</h4>
                      <p>
                        Lorem ipsum dolor sit amet, conservisii ctetur
                        adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <%= image_tag 'banner1.jpg' %>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Men</h4>
                    <span>Best Clothes For Men</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Men</h4>
                      <p>
                        Lorem ipsum dolor sit amet, conservisii ctetur
                        adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <%= image_tag 'banner1.jpg' %>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Kids</h4>
                    <span>Best Clothes For Kids</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Kids</h4>
                      <p>
                        Lorem ipsum dolor sit amet, conservisii ctetur
                        adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <%= image_tag 'banner1.jpg' %>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Accessories</h4>
                    <span>Best Trend Accessories</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Accessories</h4>
                      <p>
                        Lorem ipsum dolor sit amet, conservisii ctetur
                        adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <%= image_tag 'banner1.jpg' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>