<div class="main-banner" id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <div class="thumb">
            <div class="inner-content" style="z-index: 69">
              <h4 id="head-text">Welcome to the <strong class="immershop-em">	IMMERSHOP</strong> Experience</h4>
              <span id="head-desc">Immersive AR, at your service</span>
              <div class="main-border-button">
                <a href="#">Shop Now!</a>
              </div>
            </div>
            <%= image_tag 'banner1.jpg', style: 'filter: brightness(50%);' %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Women</h4>
                      <p>
                        Lorem ipsum dolor sit amet, conservisii ctetur
                        adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <%= image_tag 'girl1.jpg' %>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Men</h4>
                      <p>
                        Lorem ipsum dolor sit amet, conservisii ctetur
                        adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <%= image_tag 'girl2.jpg' %>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Kids</h4>
                      <p>
                        Lorem ipsum dolor sit amet, conservisii ctetur
                        adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <%= image_tag 'fashion1.jpg' %>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Accessories</h4>
                      <p>
                        Lorem ipsum dolor sit amet, conservisii ctetur
                        adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <%= image_tag 'necklace.jpg' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
